header {
  background-color:#E5F3F2;
}

input,
button {
  width:100%;
  display:block;
  height:30px;
  margin:10px auto 10px auto;
}

input {
  font-size:16;
  font-family: "Open Sans", sans-serif;
}

input::placeholder {
  font-size: 16px;
  color: #939598;
}

body {
  font-weight:400;
  font-family: "Open Sans", sans-serif;
}

form {
  width:50%;
  margin:auto;
  padding:10px;
  padding-bottom:15px;
}

main {
  width:50%;
  margin:auto;
  padding-top:15px;
}

h1 {
  font-size:30px;
  margin:12px;
  margin-bottom:20px;
  font-family: Roboto Slab;
  font-weight: 700;
  color:#6D6E71;
  text-align: center;
}

span {
  color:#00A79D;
}

li {
  color: #6D6E71;
}

li .card-body {
  color: #939598;
}

hr {
  margin:10px auto 20px auto;
  color: #D1D3D4;
}

h2 {
  display:inline-block;
  font-family: Roboto Slab;
  font-size:22px;
  font-weight:bold;
  margin-bottom:8px;
  padding:1px;
}

p{
  padding:1px;
}

button {
  margin: 2px 12px 0 0;
  height:25px;
  width:25px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px 7px 6px 6px;
  border:none;
}

.card-body {
  margin: 6px auto 8px auto;
}

.vote-container {
  display: flex;
  align-items: center;
  height:50px;
}

.remove {
  float:right;
}

.card-quality {
  display: inline-block;
}

.upvote {
  background-image: url('images/upvote.svg');
}

.upvote:hover {
  background-image: url('images/upvote-hover.svg');
}

.downvote {
  background-image: url('images/downvote.svg');
}

.downvote:hover {
  background-image: url('images/downvote-hover.svg');
}

.remove {
  background-image: url('images/delete.svg');
}

.remove:hover {
  background-image: url('images/delete-hover.svg');
}

.idea-card {
  margin:15px 0 15px 0;
}

#save-button,
#sort-button {
  background-color:#00A798;
  color: white;
}

#save-button:hover,
#sort-button:hover {
  background-color: #045E55;
}

#search-box {
  margin: 10px 0 20px 0;
}

@media screen and (max-width: 750px){
  h1 {
    font-size: 2em;
  }
   
  main,
  form {
  width: 90%;
  } 

  .body-input {
   height: 100px;
  }

  .save-button {
   padding-bottom: 30px;
  }

  #body {
  height: 100px;
  }
}


